.produtos {
  width: 80%;
  height: 778px;
  top: 203px;
  background: #ffffff;
  box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 36px auto;
  display: flex;
  flex-direction: column;
}

.busca {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.busca input {
  width: 350px;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 35px;
  gap: 43px;
  width: 100%;
  height: 41px;
  background: #fbfbfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
